pre {
    background-color: #1d2021;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/
.hljs {
    color: #2f3337;
    background: #f6f6f6
}

.hljs-subst {
    color: #2f3337
}

.hljs-comment {
    color: #656e77
}

.hljs-attr,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-section,
.hljs-selector-tag {
    color: rgb(102, 191, 254);
}

.hljs-attribute {
    color: #803378
}

.hljs-name,
.hljs-number,
.hljs-quote,
.hljs-selector-id,
.hljs-template-tag,
.hljs-type {
    color: rgb(254, 158, 76);
}

.hljs-selector-class {
    color: rgb(102, 191, 254);
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-string,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: rgb(201, 241, 124);
}

.hljs-meta,
.hljs-selector-pseudo {
    color: rgb(102, 191, 254);
}

.hljs-built_in,
.hljs-literal,
.hljs-title {
    color: rgb(254, 158, 76);
}

.hljs-bullet,
.hljs-code {
    color: #535a60
}

.hljs-meta .hljs-string {
    color: rgb(201, 241, 124);
}

.hljs-deletion {
    color: #c02d2e
}

.hljs-addition {
    color: #2f6f44
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}